.wrapper {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.dropdown {
  background-color: white;
  border: 1px solid black;
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
}
.dropdown-wrapper {
  position: relative;
}
.dropdown-content {
  position: absolute;
  background-color: white;
  width: max-content;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px lightgrey;
}
.statusDropdown {
  padding: 15px;
}
.checkbox-label {
  display: flex;
  padding: 10px;
}
