.tableRow {
  display: flex;
  gap: 20px;
  column-gap: 20px;
}
table {
  width: 800px;
  height: 200px;
}

th {
  text-align: left;
}

td {
  text-align: left;
}
.deleteBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
